/* HomeFeature */
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.HomeFeature{
    padding: 40px 40px 0px 40px;
}
.homefeature-container{
    width: 100%;
    height: 535px;
  
    position: relative;
}
.banner-box{
  width: 50%;
  height: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s linear;
}
.banner-top{
    height: 50%;
    width: 100%;
}
.top1{
    width: 50%;
    height:100% ;
    display: flex;
    position: relative;
}
.top2{
    width: 50%;
    height: 100%;
    display: flex;
    position: relative;
}
.banner-bottom{
    display: flex;
    position: relative;
    height: 50%;
    width: 100%;
}
.black-box{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.black-box:hover .black-box-center{
  opacity: 1;
  width: 80%;
  height: 80%;
  background: rgba(3, 3, 3, 0.6);
  
}
.black-box-title{
  color: #fff;
  position: absolute;
  font-size: 50px;
  font-weight: 200;
  font-family: sans-serif;
  
}
.black-box-center{
    width: 40%;
    height: 40%;
    transition: all .5s;
    opacity: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.black-box-link {
    font-size: 16px;
    margin: 0 20px;
    margin-top: 120px;
    color: aliceblue;
    text-decoration: none;
    font-style: bold;
    border-bottom: #fff 3px solid;
  }
  @media screen and (max-width: 960px){
    .HomeFeature{
        padding: 15 5px;
        display: flex;
        flex-direction: column;
        
    }
    .homefeature-container{
        
        flex-wrap: wrap;
    }
       
  }
/* Hometab */
.hometab{
    padding: 0 25px;
    margin-top: 30px;

}
.hometab-container{
     height: 50px;
     margin-top: 20px;
     
}

.hometab-container p{
  font-size: 18px;
  margin: 0 25px;
  color: #667;
  cursor: pointer;
  position: relative;
  padding: 10px 0;
  font-weight: bold;
  font-family: sans-serif;
  
}
.home-tab-active {
    color: #111 !important;
 }
 .home-tab-active::after {
    width: 100% !important; 
    animation-name: none!important;
  }
  .hometab-container p:hover {
    color: #111;
  }
  
  .hometab-container p::after {
    content: '';
    display: block;
    height: 2px;
    background: #000;
    margin-top: 3px;
    right: 0;
    bottom: -3px;
    transition: all .5s;
    width: 0;
    position: absolute;
  }
  
  .hometab-container p:hover::after {
    animation-name: active_line;
    animation-duration: 0.4s;
    width: 100%;
    left: 0;
  }
  .tab-content {
    width: 100%;
    
  }
  /* loading */
  .tab-loadmore{
    
    margin-bottom: 45px;
    margin-top: 40px;
    position: relative;
  }
  .tab-loadmore-btn {
    display: flex;
    width: 200px;
    height: 60px;
    font-size: 18px;
    background-color: black;
    font-weight: bold;
    position: absolute;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: sans-serif;
  
  }
  .tab-loadmore-loading {
    position: absolute;
    
     
  } 
  .loading-icon {
    border: 3px solid #343434;
    border-radius: 50%;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    width: 20px;
    height: 20px; 
    animation: spin 1s linear infinite;
    position: absolute;
    
  } 
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  @keyframes loading {
    from {transform: scaleY(0);}
    to {transform: scaleY(10px);}
  }
  
.listcontent {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    
  }
.btn-tab {
    background-color: #232323 !important;
    color: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
  }
  .btn-nothover {
    background-color: #232323 !important;
    color: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }