.login{
 background-color: #fff;
  width: 100%;
  height: 100vh;
  position: absolute;
  text-align: center;
 
  overscroll-behavior: contain;
  overflow: hidden !important;
  z-index: 10000;
  padding-top: 20px;
  /* padding-left: 10px; */
  padding-right: 0px;
}
.login-header{
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
.login-close{
    cursor: pointer;
    font-size: 29px;
     font-weight: 300;
}
.login-title{
    font-size: 26px;
    color: #666;
}
.displaynone{
    display: none;
}
.tab-login{
    color: #888;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    margin: 0 20px;
}
.tab-login-active{
    color: #222;
}
.tab-login-active::after{
    width: 100% !important; 
    animation-name: none!important;
}
.tab-login::after{
    content: '';
    display: block;
    height: 3px;
    background: #000;
    margin-top: 3px;
    position: absolute;
    right: 0;
    bottom: -9px;
    transition: all .5s;
    width: 0;
}
.tab-login:hover:after{
    animation-name: active_line;
    animation-duration: 0.4s;
    width: 100%;
    left: 0;
}
.tab-login:hover{
    color: #222;
}
.login-tab{
    display: flex;
    justify-content: center;
   
}
.login-info{
    padding-top: 50px;
    padding-left: 30%;
    display: flex;
    flex-direction: column;
   text-align: start;
    width: 40%;
}
.login-email{
    outline: none;
    border: none;
    border-bottom: solid 1px #999;
    padding-top: 40px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 16px;
    transition: 0.2s;
}
.login-email:hover{
    border-bottom: solid 2px #444;
}
.login-remember{
    display: flex;
    padding-top: 30px;
    align-items: center;
    
}
.login-remember-text{
margin-left: 10px;
color: #888;
}
.login-btn-tab{
    margin-top: 30px;
    display: flex;
    background-color: #000;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.login-btn-tab:hover{
    background-color: #222;
}
.login-forgot{
    padding-top: 30px;
    text-align: center;
    color: #888;
}
.login-forgot:hover{
    color: #222;
    cursor: pointer;
}
@keyframes fade-in{
    from {transform: translateX(200px);}
    to {transform: translateX(0px)}
}
.fade-in{
    animation-name: fade-in;
    animation-duration: .5s;
}
@keyframes fade-out{
    from {transform: translateX(-200px);}
    to {transform: translateX(0px)}
}
.fade-out{
    animation-name: fade-out;
    animation-duration: .5s;
}
/* Account */
.account{
    
    padding-left: 5%;
   
    width: 100%;
    height: 100%;
}
.account-container{
    display: flex;
    width: 100%;
    height: 80vh; 
  
}
.account-left{
    width: 20%;
    height: 100%;
    border-right: 1px solid #999;
    padding-right: 20px;
}
.account-avt{
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding-left: 10px;
  border-bottom: 1px solid #999;
}
.account-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
}
.account-name{
    margin-left: 20px;
    color: #222;
    font-size: 18px;
}
.account-right{
 width: 70%;
}
.account-tab{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    align-self: center;
}
.tab{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #111;
    cursor: pointer;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    

}
.tab-active{
    background-color: #222;
    color:#fff;
}
.tab:hover{
    background-color: #222;
    color:#fff;
}
.myaccount-right{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;  
 
  
}
.myaccount-header{
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 10px;
  border-bottom: 1px solid #999;
  
}
.myaccount-title{
    color: #222;
    font-size: 20px;
}
.myaccount-note{
    color: #777;
}
.myaccount-detail{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 10px;
  overflow: scroll;
 height: 60vh;
 /* padding-top: 80px; */
  padding-top: 90px;
  padding-bottom: 30px;
}
.myaccount-item{
    padding-top: 10px;
    display: flex;
    text-align: start;
    width: 100%;
    padding-bottom: 20px;
}
.detail-title{
    font-family: sans-serif;
    width: 20%;
    color: #444;
    font-size: 14px;
}
.detail-input{
    width: 70%;
    outline: none;
    border: none;
    border-bottom: 1px solid #888;
    padding-bottom: 10px;
}
.detail-input:hover{
    border-bottom: 2px solid #222;
}
.myaccount-btn{
    display: flex;
    width: 200px;
    height: 60px;
    justify-content: center;
    background-color: #222;
    color: #fff;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.myaccount-btn:hover{
    background-color: #666;
}
/* order */
.order{
    width: 60%;
    height: 100%;
   
}
.order-header{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
    border-bottom: 1px solid #999;
}
.header-title{
    color: #222;
    font-size: 20px;
    padding-bottom: 10px;
}
.header-note{
    color: #777;
}
.order-tab{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}
.order-list{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 20px;
}