*{
 
  margin: 0px;
  padding: 0px;
  font-family:'PT Sans', sans-serif;
}
.App{
  position: relative;
}
@keyframes fade-y{

  
  0%  {transform:translate3D(-100px,200px,-300px)}
  50%  {transform:translate3D(100px,-200px,300px)}
  100% {transform:translateY(0)}
}
.fade-y{
  animation-name: fade-y;
  animation-duration:0.8s;
  animation-timing-function: ease-in-out;
}
@keyframes fade-homepage{
  0%{transform:scale(1)}
  50% {transform:scale(0.5)}
  100% {transform:scale(1)}
}
.fade-homepage{
  animation-name: fade-homepage;
  animation-duration: 0.7s;
  
  animation-timing-function: linear;
}

@keyframes shop-fadein{
   

  0%{transform:translatey(-300px)}
  40%{transform:translatey(200px)}
  70% {transform:translatey(-100px)}

  100%{transform:translatey(0px)}
}
.shop-fadein{
  animation-name: shop-fadein;
  animation-duration: 1s;
  
  animation-timing-function: ease-in-out;
}
@keyframes news-fade{
  0%{transform:translateX(-300px)}
  40%{transform:translateX(200px)}
  70% {transform:translateX(-100px)}
  90%{transform:translateX(50px)}
  100%{transform:translateX(0px)}
}


.news-fade{
  animation-name: news-fade;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;

}